<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <!-- Лого води към избор на хранене -->
  <a class="navbar-brand" href="{% url 'main:select_meal' %}">Balanced Nutrition</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse"
          data-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent"
          aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <!-- Въведи хранене -->
      <li class="nav-item {% if request.resolver_match.url_name == 'select_meal' %}active{% endif %}">
        <a class="nav-link" href="{% url 'main:select_meal' %}">Въведи хранене</a>
      </li>

      <!-- История на храненията -->
      <li class="nav-item {% if request.resolver_match.url_name == 'meal_history' %}active{% endif %}">
        <a class="nav-link" href="{% url 'main:meal_history' %}">История (хранене)</a>
      </li>
    </ul>

    <ul class="navbar-nav ml-auto">
      {% if user.is_authenticated %}
        <li class="nav-item">
          <a class="nav-link" href="{% url 'logout' %}">Излез ({{ user.username }})</a>
        </li>
      {% else %}
        <li class="nav-item">
          <a class="nav-link" href="{% url 'login' %}">Влез</a>
        </li>
      {% endif %}
    </ul>
  </div>
</nav>
